body{
    background-color: #F2F5F9;
}

.container{
    width: 25rem;
    margin:5rem auto;
    border-radius: 10px;
    background-color: white;
}




.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    background-image: url(hero-image-business-card.png);
}
.image>svg{
    width: 100%;
    margin-top: 12rem;
}
.content{
    padding-left: 20px;
}

.cart{
    display: flex;
  gap: 30px;
    align-items: center;
}
.cart-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
p,small{
   color:#677489;
}
.cart h4, small{
    margin: 0;
}